{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="4"></td>
                <td><b>{{ total }}</b></td>
            </tr>
        </tfoot>
        <tbody>
            {% for trade in trades %}
                <tr>
                    <td>{{ trade.symbol }}</td>
                    <td>{{ trade.name }}</td>
                    <td>{{ trade.share }}</td>
                    <td>{{ trade.price }}</td>
                    <td>{{ trade.cost }}</td>
                </tr>
            {% endfor %}
                <tr>
                    <td colspan="4">CASH</td>
                    <td>{{ cash }} </td>
                </tr>
        </tbody>
    </table>
{% endblock %}