{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <fieldset>
            <div class="form-group">
                <p> Type the symbol to search stock </p>
                <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Symbol" type="text"/>
            </div>
            <div class="form-group">
                <p> Type the share you want to sell </p>
                <input autocomplete="off" class="form-control" name="shares" placeholder="Shares" type="text"/>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Sell</button>
            </div>
        </fieldset>
    </form>
{% endblock %}
